@import 'variables';
html {
  font-size:15px;
}
a, b {
  //https://stackoverflow.com/questions/35648667/outline-none-vs-outline-0
  outline: 0;
}
b {
  font-weight: inherit;
  cursor: pointer;
}


.dropdown-item-text {
  white-space: nowrap;
}
.btn {
  font-weight:500;
}
.card {
  margin: 30px 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

  @media (orientation: landscape) {
    &:not(.no-hover):hover .card-body, .card-header {
      // border-left:2px solid $primary;
      // margin-left:-2px;
    }
  }
  &:not(.no-hover) {
    border-top:10px solid lighten($medium, 5%);
    border-left: 1px solid lighten($medium, 10%);
    border-right: 1px solid lighten($medium, 10%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    // border-right: 1px solid $medium;
    // border-bottom: 1px solid $medium;
  }
  &.card-primary {
    border-top:10px solid $primary;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
  }
  &.card-secondary {
    border-top:10px solid $secondary;
    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;
  }
  &.card-warning {
    border-top:10px solid $warning;
    border-left: 1px solid $warning;
    border-right: 1px solid $warning;
  }
  &.card-success {
    border-top:10px solid $success;
    border-left: 1px solid $success;
    border-right: 1px solid $success;
  }
}
.card-body {
  padding: 20px;
}

@media (max-width: 500px) {
  .card.card-primary, .card.card-secondary, .card.card-warning, .card.card-success, .card {
    border-left: none;
    border-right: none;
  }
  .card-body {
    padding: 10px 8px;
    margin-bottom: 10px;
  }
  .card:last-child {
    padding-bottom: 0;
    .card-body { 
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
.card-header:not(.no-hover) {
  background-color: transparent;
  // border-bottom: 1px solid $medium;
}

button.special {
  border: 1px solid $gray-300;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  &.special-secondary {
    border-left: 7px solid lighten($secondary, 15%);
    border-right: 7px solid lighten($secondary, 15%);
  }
  &.special-primary {
    border-left: 7px solid lighten($primary, 15%);
    border-right: 7px solid lighten($primary, 15%);
  }
}

.table thead th {
  border-top:none;
}

.table th, .table td {
  vertical-align: baseline;
}

.modal-open .modal {
  display: inherit;
}

body.spinning {
  cursor: progress;
}
body.touch .tooltip {
  display: none;
}
body.gray-background {
  background-color: #f5f5f1;
}
.btn {
  padding: 7px 14px;
  border-radius: 3px;
}
button {
  @extend .btn;
}
.card-header {
  padding: 10px 20px;
}
.card-footer {
  background-color: $gray-100;
  // border-bottom: 1px solid $gray-300;
  border-top: 1px solid $gray-300;
}
@media (max-width: 500px) {
  .card-header {
    padding: 8px 15px;
  }
}
section {
  @extend .card;
  header {
    @extend .card-header;
  }
  main {
    @extend .card-body;
    p:last-child {
      margin-bottom: 0;
    }
  }
  footer {
    @extend .card-footer;
  }
}

@media (max-width: 500px) {
  ul {
    padding-left: 20px;
  }
}
.hidden {
  display:none;
}

.page-content, article {
  margin: 0 auto;
  padding: 0 32px;
  width: 800px;
  padding-bottom:20px;
}
@media (max-width: 1200px) {
  .page-content, article {
    margin: 0 50px 0 0;
    float: right;
  }
}
@media (max-width: 1100px) {
  .page-content, article {
    margin: 0;
  }
}
@media (max-width: 800px) {
  .page-content, article {
    padding: 0 15px;
    margin: 0;
    float: none;
    width: auto;
  }
}
@media (max-width: 500px) {
  h3 {
    font-size:20px;
  }
  .page-content, article {
    padding: 0;
  }
  section, .card {
    margin-left: 5px;
    margin-right: 5px;
   // border-right: 0;
   // border-left: 0;
    border-bottom: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.modal {
  .modal-content {
    background: none;
    border: none;
    position: relative;
  }

  button.close {
    position: absolute;
    margin: 0;
    padding:8px;
    background-color: lighten($medium, 5%);
    right:-28px;
    top:-20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 1;
    &:hover {
      background-color: white;
    }
    span {
      color: $copper;
      font-weight: 500;
      font-size: 22px;
      border-radius: 50%;
      line-height:34px;
      background-color: white;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

}

.modal.main {
  font-size:16px;
  .modal-content {
    padding: 10px;
    border-top-right-radius: 25px;
    position: relative;
  }
  button.close {
    position: absolute;
    margin: 0;
    padding:2px;
    background-color: $white;
    right:-4px;
    top:-4px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    &:hover {
      background-color: $gray-100;
    }
    span {
      color: $copper;
      font-weight: 500;
      font-size: 22px;
      border: 1px solid lighten($copper, 20%);
      border-radius: 50%;
      padding: 5px;
      background-color: white;
      width: 100%;
      height: 100%;
      display: block;
      &:hover {
        background-color: $gray-100;
      }
    }
  }
  .modal-header {
    border: 1px solid lighten($copper, 20%);
    border-bottom: 1px solid lighten($copper, 45%);
  }
  .modal-body {
    border-left: 1px solid lighten($copper, 20%);
    border-right: 1px solid lighten($copper, 20%);
    padding: 20px;
  }
  .modal-footer {
    border: 1px solid lighten($copper, 20%);
    border-top: 1px solid lighten($copper, 45%);
  }
}

.dropdown-item-text.dropdown-header {
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 7px;
  background-color: lighten(desaturate($copper, 30%), 45%);
  color: $gray-900;
  border-bottom: 1px solid $copper;

  i {
    color: $copper;
    margin-right:9px;
    margin-left:-9px;
  }
}
button.dropdown-item {
  &:hover {
    background-color: lighten($copper, 40%);
    background-color: lighten($copper, 45%);
  }
}
.dropdown-menu {
  padding-top:0;
  * {
    font-size:15px;

  }
  .dropdown-item {
    padding: 8px 20px;
  }
}
.form-control {
  border: 1px solid lighten($copper, 20%);
  border: 1px solid $medium;
  font-size: 16px;
  padding: 5px 10px;
}
.form-control.invalid {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-left: 7px solid $red;
}
.form-control.valid {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-left: 7px solid $brightgreen;
}
.form-control:focus {
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  border-right: 1px solid $primary;
  box-shadow: 0 0 7px 0px rgba(35, 105, 190, 0.5);
}
