.modal-body {
  padding: 0;
}
h1 {
  margin-bottom: 0;
}
h2 {
  margin-left: 30px;
}
.modal-header {
  padding: 10px;
  justify-content: space-between;
}

// .logo {
//   margin-right: 15px;
//   margin-left: 10px;
// }