<article>
  <h1>Demonstratie</h1>
  <section>
    <header>
      <h3>Wat is Animal Office?</h3>
    </header>
    <main>
      <p>
        Animal Office is een programma voor de kleindierensport waarmee inzenders (en ook tentoonstellingssecretarissen) op een snelle en eenvoudige manier kunnen inschrijven voor een show.
      </p>
      <p>
        Het is zo ingericht dat alleen de erkende rassen en kleurslagen kunnen worden gekozen. Het voordeel daarvan is dat altijd de juiste benamingen worden gebruikt en de dieren op de show altijd goed worden ingedeeld.
      </p>
      <p>
        Tijdens de inschrijfperiode kunnen inzenders en andere belangstellenden via de statistieken pagina op de Animal Office website (of via een link op de eigen website van de show) zien welke rassen en aantallen er zijn ingeschreven. Het blijkt dat inzenders hier veel belangstelling voor hebben.
      </p>
      <p>
        Animal Office is helemaal afgestemd op het gebruik in combinatie met EW-Show. Na sluiting van de inschrijving kunnen alle gegevens geautomatiseerd worden overgebracht naar EW-Show.
      </p>
    </main>
  </section>
  
  <section>
    <header>
      <h3>Een demonstratie van Animal Office</h3>
    </header>
    <main>
      Hieronder vindt u volledig werkende voorbeelden van de verschillende onderdelen van Animal Office. Door te klikken op de gekleurde knoppen kunt u bekijken hoe nieuwe inzenders zich <b>aanmelden</b>, hoe het <b>inschrijven</b> voor een show werkt, hoe de<b>afdrukversie</b> van het ingevulde inschrijfformulier eruit ziet en hoe u als organisatie van de show de inzendingen <b>beheert</b>. Tot slot de <b>statistieken pagina</b>.
    </main>
  </section>
  
  <section>
    <main>
      <p>
        Het aanmeldscherm is het eerste scherm waarop een nieuwe bezoeker terecht komt nadat deze vanaf de website van de show is doorgelinkt naar Animal Office.
      </p>
      <button class="btn-primary">Aanmeldscherm</button>
    </main>
  </section>
  
  <section>
    <main>
      <p>
        Het inschrijfformulier is waar de daadwerkelijke inschrijving van dieren voor een show wordt gedaan. Het maakt gebruik van de Animal Office rassendatabase waarin alle in Nederland erkende kleindierenrassen en bijbehorende kleuren staan geregistreerd.
      </p>
      <button class="btn-secondary">PDF inschrijfformulier</button>
    </main>
  </section>
  
  <section>
    <main>
      <p>
        Nadat een inzender voor de show heeft ingeschreven wordt een formulier aangemaakt dat naar de inzender en naar de show wordt toegemaild.
      </p>
      <button class="btn-success">Inschrijven</button>
    </main>
  </section>
  
  <section>
    <main>
      <p>
        De administratie van een show heeft toegang tot de admin pagina, waarop de gegevens van alle inzenders kunnen worden ingezien en aangepast, en nieuwe inzendingen kunnen worden ingevoerd.
      </p>
      <button class="btn-warning">Administratie pagina</button>
    </main>
  </section>
  
  <section>
    <main>
      <p>
        De voortgang van de show is voor iedereen te volgen op de statistieken pagina.
      </p>
      <button class="btn-primary">Statistieken</button>
    </main>
  </section>
  
  <section>
    <main>
      <p>
        Na de sluiting van de inschrijving en nadat ook alle op papier ingezonden formulieren zijn ingevoerd, kunnen de gegevens worden geïmporteerd in EW-Show. Hierna kunt u als show-organisatie EW-show weer gebruiken zoals u dat altijd gewend bent geweest. Animal Office en EW-Show sluiten perfect op elkaar aan. Bij de ontwikkeling van Animal Office hebben we nauw samengewerkt met de ontwikkelaar van EW-Show.
      </p>
    </main>
  </section>
  
  <section>
    <header>
      <h3>Extra informatie</h3>
    </header>
    <main>
      <p>
        Het inschrijfformulier ondersteunt alle bijzonderheden die te vinden zijn op de inschrijfbladen van de 7 grote Nederlandse shows. In overleg kunnen we dit aanpassen voor andere shows.
      </p>
      <p>
        De software is te gebruiken in alle moderne browsers, zowel op de desktop of laptop, als met tablet of mobiel. Mac, Windows, iPhone, Android, Linux -- alle besturingssystemen worden ondersteund.
      </p>
      <p>
        De database van rassen en kleuren wordt door ons up to date gehouden aan de hand van de lijsten die gepubliceerd worden door de verantwoordelijke instanties. Als u als organisatie een ras of kleur wilt toevoegen of aanpassen dan doen we dat.
      </p>
      <p>
        Wij stellen ons als doel dat Animal Office 100% probleemvrij functioneert. Als u dus tegen enig probleem aanloopt dan zetten we ons er voor in om dat zo snel mogelijk op te lossen.
      </p>
    </main>
  </section>
  
  <section>
    <header>
      <h3>Kosten</h3>
    </header>
    <main>
      De kosten voor het gebruik van Animal Office zijn 60 cent per deelnemer per show. Voor kleinere shows geldt een minimum bedrag van €60 per show.
    </main>
  </section>
  
  <section>
    <main>
      Voor vragen kunt u ons mailen op <a href="mailto:info@animaloffice.net">info@animaloffice.net</a>, of bellen (buiten kantooruren) met Wierd de Boer op 06-43365045.
    </main>
  </section>
</article>
