<article>
    <h1>Demonstration</h1>
    <section>
      <header>
        <h3>What is Animal Office?</h3>
      </header>
      <main>
        <p>
          Animal Office is a software application for small animal exhibition shows. The purpose of Animal Office is to make entering participants into the show as easy and fast as possible, for the exhibitors as well as for the show organization.
        </p>
        <p>
          It is designed such that only the acknowledged breeds and colors can be chosen. The advantage of this is that always the correct names are used, and the animals are always in the right order at the show.
        </p>
        <p>
          During the entry period, exhibitors and others who are interested can consult the statistics page on the Animal Office website (or through a link on the own website of the show), to see which breeds and amounts have been signed up for the show. Our experience is that exhbitors are particularly interested in this.
        </p>
        <p>
          Animal Office is meant to be used together with your current administration software. After the entry period closes, all data can be automatically transferred into your administration program.
        </p>
      </main>
    </section>
    
    <section>
      <header>
        <h3>A demonstration of Animal Office</h3>
      </header>
      <main>
        Below you will find fully functional examples of the various components of Animal Office. By clicking on the colored buttons you can see how new exhibitors <b>sign up</b>, how <b>entering in</b> the show works, how the <b>print version</b> of the finished entry form looks and how as an organization of a show <b>manage</b> the exhibits. And finally the <b>statistics</b> page.
      </main>
    </section>
    
    <section class="no-hover with-button aanmeldscherm">
      <main>
        <p>
          The sign up page is the first screen where a new visitor lands after they are linked through to Animal Office from the website of your show.
        </p>
        <button class="btn-default">Sign up page</button>
      </main>
    </section>
    
    <section class="no-hover with-button pdf">
      <main>
        <p>The entry form is where the actual entry of animals for a show takes place. It makes use of the Animal Office breeds database in which all acknowledged small animal breeds and the colors for each breed are registered.
        </p>
        <button class="btn-default">Entry form</button>
      </main>
    </section>
    
    <section class="no-hover with-button inschrijven">
      <main>
        <p>
          After an exhibitor for the show has filled in their entry form, a document is created that is mailed to the exhibitor and to the show.
        </p>
        <button class="btn-default">PDF entry form</button>
      </main>
    </section>
    
    <section class="no-hover with-button administratie">
      <main>
        <p>
          The administration of a show has access to the admin page, where the details of all exhibitors can be reviewed and edited, and where new exhibitors can be entered.
        </p>
        <button class="btn-default">Administration page</button>
      </main>
    </section>
    
    <section class="no-hover with-button statistieken">
      <main>
        <p>
          The progress of the show can be followed by everyone on the statistics page.
        </p>
        <button class="btn-default">Statistics</button>
      </main>
    </section>
    
    <section>
      <main>
        <p>
          After closure of the entry period, and after all paper entry forms have been entered into Animal Office, the data can be imported into your administration software. After that you as show organization can use your software like you have always been used to.
        </p>
      </main>
    </section>
    
    <section>
      <header>
        <h3>Extra information</h3>
      </header>
      <main>
        <p>
          The entry form supports most of the specifics that can be found on the entry forms of the larger shows. In consultation we can amend this for your show.
        </p>
        <p>
          The software can be used in all modern browsers, on desktop / laptop, and on tablet / mobiel. Mac, Windows, iPhone, Adroid, Linux -- all operating systems are supported.
        </p>
        <p>
          The database of breeds and colors is kept up to date according to the lists that are published by the responsible organizations. If you as the organization of a show want to add a breed or color, we will do that.
        </p>
        <p>
          It is our aim to have Animal Office functioning 100% free of problems. If you run into any issue, we are serious about fixing that as soon as we can.
        </p>
      </main>
    </section>
    
    <section>
      <header>
        <h3>Costs</h3>
      </header>
      <main>
        The costs for using Animal Office are 60 cents per exhibitor per show. For smaller shows there is a minimum amount of € 60 per show.
      </main>
    </section>
    
    <section>
      <main>
        For questions your can mail us through our <app-link route="contact">contact form</app-link>, or call (outside of office hours) with Wierd de Boer on +31(6)43365045.
      </main>
    </section>
  </article>
  