<!--
  <h3 *ngIf="!loginService.doWeShowLoginList()" i18n>Log in</h3>
-->

  <h4 *ngIf="loginService.doWeShowLoginList() && !loginService.inModal" i18n>Enter breeder number</h4>
  <h4 *ngIf="loginService.inModal" i18n>Edit breeder number</h4>
  
<!--
<div class="sub-dialog-header">
  <h4>
    <span id="addBnText"></span>
    <span id="editBnText">Edit breeder number</span>
  </h4>
</div>
-->
<div *ngIf="loginService.editingNumber" class="form-row">
  <label for="federation" i18n>Federation</label>
  <div class="input-group" [attr.dizabled]="loginService.potentialPerson ? 'disabled' : null">
    <i class="input-group-text icon-umbrella"></i>
    <select 
      class="custom-select" 
      name="federation"
      [(ngModel)]="loginService.editingNumber.federation_id"
      (change)="onFederationChange()"
      [attr.dizabled]="loginService.potentialPerson ? 'disabled' : null"
      #federationInput
    >
      <option 
        *ngFor="let ass of loginService.freeFederations; let index = index" 
        [value]="ass.id"
      >
        {{ ass.name ? ass.name : '' }}
      </option>
    </select>
  </div>
</div>

<div class="form-row">
  <label for="breederNumber" i18n>Breeder number</label>
  <div class="input-group" [attr.dizabled]="loginService.potentialPerson ? 'disabled' : null">
    <i class="input-group-text icon-user-card"></i>
    <input 
      type="text" 
      class="form-control" 
      name="breederNumber"
      appAutofocus
      #breederNumberInput
      [(ngModel)]="loginService.editingNumber.breederNumber"
      (keyup)="loginService.dismissNameChecker()"
      (keyup.enter)="submit()"
      [attr.dizabled]="loginService.potentialPerson ? 'disabled' : null"
    >
  </div>
</div>

<div *ngIf="loginService.errorMessage && !loginService.potentialPerson" class="error-message">
  <i class="icon-warning"></i>{{ loginService.errorMessage }}
</div>

<footer 
  *ngIf="!loginService.potentialPerson"
>

  <button
    class="btn-default"
    (click)="cancel()"
    *ngIf="!loginService.loading"
  >
    <i class="icon-cross"></i>
    <span i18n>Cancel</span>
  </button>
  <button
    class="btn-primary"
    (click)="submit()"
    *ngIf="!loginService.loading"
  >
    <i class="icon-check"></i>
    <span i18n *ngIf="!loginService.inModal">Next</span>
    <span i18n *ngIf="loginService.inModal">OK</span>
  </button>
  <app-spinner 
    *ngIf="loginService.loading" 
    name="loginList" 
    group="login" 
    [show]="loginService.loading">
  </app-spinner>

</footer>

