<div class="form-row">
  <label for="numberHolderName">Name</label>
  <div class="input-group" disabled="disabled">
    <div class="input-group-prepend">
      <i class="input-group-text icon-user-1"></i>
    </div>
    <input 
      type="text"
      class="form-control" 
      name="numberHolderName" 
      disabled="disabled" 
      [(ngModel)]="loginService.person.name"
    >
  </div>
</div>
<div class="form-row" *ngIf="!loginService.person.username">
  <label for="postcode">Postcode</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <i class="input-group-text icon-address"></i>
    </div>
    <input 
      type="text"
      class="form-control" 
      name="postcode" 
      appAutofocus
      [(ngModel)]="loginService.person.postcode"
      (keyup.enter)="confirm()"
    >
  </div>
</div>
<div class="form-row" *ngIf="loginService.person.username">
  <label for="password">Password</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <i class="input-group-text icon-key"></i>
    </div>
    <input 
      type="password"
      class="form-control" 
      name="password" 
      appAutofocus
      [(ngModel)]="loginService.person.password"
      (keyup.enter)="confirm()"
    >
  </div>
</div>

<div class="form-row" *ngIf="!loginService.notMe">
  <b>Forgot password?</b>
</div>
<div 
  *ngIf = "loginService.errorMessage" 
  class = "error-message"
>
  <i class="icon-warning"></i>{{ loginService.errorMessage }}
</div>

<footer #footer *ngIf="!loginService.notMe">
  <button 
    class = "btn-default" 
    (click) = "loginService.notMe = true"
    *ngIf = "!loginService.loading"
  >
    <i class="icon-block"></i>This is not me
  </button>
  <button 
    class="btn-default" 
    *ngIf="pigsCanFly" 
  >
    <i class="icon-edit"></i>Edit breeder number
  </button>
  <button 
    class="btn-primary" 
    (click)="confirm()"
    *ngIf="!loginService.loading"
  >
    <i class="icon-check"></i>Confirm
  </button>
</footer>