<div class="form-row">
  <label for="numberHolderName" i18n>Name</label>
  <div class="input-group" disabled="disabled">
    <div class="input-group-prepend">
      <i class="input-group-text icon-user-1"></i>
    </div>
    <input 
      type="text"
      class="form-control" 
      name="numberHolderName" 
      disabled="disabled" 
      [(ngModel)]="loginService.potentialPerson.name"
    >
  </div>
</div>
<div class="form-row" *ngIf="!loginService.potentialPerson.hasUser">
  <label for="postcode" i18n>Postcode</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <i class="input-group-text icon-address"></i>
    </div>
    <input 
      type="text"
      class="form-control" 
      name="postcode" 
      #postcodeInput
      appAutofocus
      [(ngModel)]="loginService.potentialPerson.postcode"
      (keyup.enter)="confirm()"
    >
  </div>
</div>
<div class="form-row" *ngIf="loginService.potentialPerson.hasUser">
  <label for="password" i18n>Password</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <i class="input-group-text icon-key"></i>
    </div>
    <input 
      type="password"
      class="form-control" 
      name="password" 
      #passwordInput
      appAutofocus
      [(ngModel)]="loginService.potentialPerson.password"
      (keyup.enter)="confirm()"
    >
  </div>
</div>

<div class="form-row" *ngIf="!notMe && loginService.potentialPerson.hasUser">
  <b i18n>Forgot password?</b>
</div>
<div 
  *ngIf = "loginService.errorMessage" 
  class = "error-message"
>
  <i class="icon-warning"></i>{{ loginService.errorMessage }}
</div>

<div class="error-message" *ngIf="notMe">
  <i class="icon-warning"></i>
  <span i18n>If someone else is using your breeder number, better contact Animal Office.</span>&nbsp;<app-link 
    route="home" 
    linkClass="text-primary"
    i18n
  >Click here to do so.</app-link>
</div>

<footer>
  <button 
    class = "btn-default" 
    (click) = "notMe = true"
    *ngIf="!loginService.loading && !notMe"
  >
    <i class="icon-block"></i>
    <span i18n>This is not me</span>
  </button>
  <button 
    class="btn-default" 
    (click)="cancel()"
    *ngIf="notMe"
  >
    <i class="icon-cross"></i>
    <span i18n>Cancel</span>
  </button>
  <button 
    class="btn-primary" 
    (click)="confirm()"
    *ngIf="!loginService.loading && !notMe"
  >
    <i class="icon-check"></i>
    <span i18n>Next</span>
  </button>
  <app-spinner 
    *ngIf="loginService.loading" 
    name="loginList" 
    group="login" 
    [show]="loginService.loading">
  </app-spinner>

</footer>