<article>

    <h1>Over Animal Office</h1>
  
    <section>
      <header>
        <h3>Even voorstellen</h3>
      </header>
      <main>
        Animal Office is een nieuw systeem voor het inschrijven op kleindier-tentoonstellingen via het internet. Het programma is gebouwd als aanvulling op EW-Show, maar kan ook met andere programma’s worden gebruikt. 
      </main>
    </section>
  
    <section>
      <header>
        <h3>Voordelen</h3>
      </header>
      <main>
        <p>Animal Office biedt de volgende voordelen.</p>
        <h4>Snel</h4>
        <ul>
          <li><p>Inzenders schrijven zelf in via de Animal Office website. De inzending wordt na sluiting automatisch overgezet naar EW-Show.</p></li>
          <li><p>De tentoonstellingsorganisatie hoeft inschrijvingen niet meer zelf in te brengen. </p></li>
        </ul>
        <h4>Veilig</h4>
        <ul>
          <li><p>We beheren onze eigen servers en de website is opgezet met strenge veiligheidseisen. We kunnen zo goed als mogelijk garanderen dat er geen gegevens verloren gaan en dat er geen fraude plaatsvindt.</p></li>
        </ul>
        <h4>Gemakkelijk</h4>
        <ul>
          <li><p>Het inschrijven gaat snel en is zeer gebruikersvriendelijk.</p></li>
          <li><p>Inzenders kunnen tot de sluitingsdatum hun inschrijving nog wijzigen. De tentoonstellingsorganisatie heeft daar geen werk van.</p></li>
          <li><p>Ieder inschrijfblad kan worden uitgeprint in een duidelijk formaat.</p></li>
          <li><p>Inzenders hoeven hun persoonsgegevens maar eenmaal online in te voeren. Deze kunnen vervolgens voor iedere show die met Animal Office werkt opnieuw worden gebruikt.</p></li>
        </ul>
        <h4>Overzichtelijk</h4>
        <ul>
          <li><p>De organisatie van de show kan online alle inzendingen inzien en eenvoudig aanpassen.</p></li>
          <li><p>Inzenders en organisatie kunnen online in real-time de aantallen en specificaties zien van ingezonden diergroepen, rassen en kleuren.</p></li>
        </ul>
        <h4>Minder kans op fouten</h4>
        <ul>
          <li><p>Alleen erkende rassen en erkende kleurslagen per ras kunnen gekozen worden. Het voordeel daarvan is dat altijd de juiste benamingen worden gebruikt en de dieren op de show altijd goed worden ingedeeld.</p></li>
          <li><p>AOC en vrije klasse wordt volledig ondersteund.</p></li>
        </ul>
      </main>
    </section>
    
    <section>
      <header>
        <h3>Ervaringen</h3>
      </header>
      <main>
        Animal Office heeft tot nu toe de inschrijvingen verwerkt voor de Noordshow en voor de Sierduivenshow Noord-Nederland. Beide organisaties hebben aangegeven zeer tevreden te zijn over de manier waarop Animal Office werkt.
      </main>
    </section>
    
    <section>
      <header>
        <h3>Demo</h3>
      </header>
      <main>
        <p>We willen organisaties graag kennis laten maken met Animal Office en hebben daarom een uitgebreide demo opgezet. Klik op de knop hieronder om te zien hoe het inschrijven met Animal Office in zijn werk gaat en ook hoe het beheren en wijzigen van inschrijvingen door de organisatie werkt.</p>
        <p>
          <app-link route="demo"><button class="btn-secondary" i18n>Demo</button></app-link>
        </p>
        <p>Het inschrijfformulier op deze demo is een voorbeeld. We maken dit op maat voor iedere show.</p>
      </main>
    </section>
  
    <section>
      <header>
        <h3>Wie zit achter Animal Office?</h3>
      </header>
      <main>
        <p>
          Animal Office is een samenwerking van vader en zoon Wierd en Roland de Boer. Het is ontstaan door de ervaringen van Wierd als tentoonstellingssecretaris en die van Roland met automatisering en het bouwen van online administratiesystemen te combineren. 
        </p>
        <p>
          We hebben er veel plezier aan beleefd dit programma zo te ontwikkelen en willen graag samenwerken met alle tentoonstellingsorganisaties in Nederland.
        </p>
      </main>
    </section>
  
    <section>
      <header>
        <h3>Contact</h3>
      </header>
      <main>
        Voor vragen kunt u ons mailen via ons <app-link route="contact">contactformulier</app-link>, of bellen (buiten kantooruren) met Wierd de Boer op 06-43365045.
      </main>
    </section>
  
    <div class="photos-container">
      <figure>
        <img height="200" width="159" src="/assets/images/misc/roland.jpg">
      </figure>
      <figure>
        <img height="200" width="159" src="/assets/images/misc/wierd.jpg">
      </figure>
    </div>
    
  </article>