<article>

    <h1>About Animal Office</h1>
  
    <section>
      <header>
        <h3>Introducing ourselves</h3>
      </header>
      <main> 
        Animal Office is a new system for signing up for small animal exhibition shows. The application is meant to be used together with your current administration software and Animal Office is compatible with all the larger small animal show software applications.
      </main>
    </section>
  
    <section>
      <header>
        <h3>Advantages</h3>
      </header>
      <main>
        <p>Animal Office offers the following advantages.</p>
        <h4>Fast</h4>
        <ul>
          <li><p>Subscribers complete their own show entry form through the Animal Office website. After the registration period closes the entries are transferred automatically into your administration software.
          </p></li>
          <li><p>The exhibition organizers don't need to type in the entries manually any more.</p></li>
        </ul>
        <h4>Secure</h4>
        <ul>
          <li><p>We maintain our own servers and the website is set up with strict security requirements. We can guarantee as well as possible that no data will get lost, and that no fraud takes place.
          </p></li>
        </ul>
        <h4>Easy</h4>
        <ul>
          <li><p>Signing up for a show is fast and very user friendly.</p></li>
          <li><p>Show participants can make changes to their entry until the closing data. This does not give any extra work to the exhibition organizers.</p></li>
          <li><p>Every show entry form can be printed on pdf or paper in a clear format.</p></li>
          <li><p>Exhibitors only need to enter their personal details once. These can be then be reused for every subsequent show which uses Animal Office.
          </p></li>
        </ul>
        <h4>Clear and orderly</h4>
        <ul>
          <li><p>The organization of an exhibition can easily view and edit every registration.
          </p></li>
          <li><p>Show participants and organizers can see in real-time the numbers and specifications of submitted animal groups, breeds and colors.
          </p></li>
        </ul>
        <h4>Less mistakes</h4>
        <ul>
          <li><p>Only recognized breeds and recognized colors per breed can be chosen. The advantage of this is that always the right naming is used and the animals will always be ordered correctly at shows.
          </p></li>
          <li><p>AOC and free class are fully supported.</p></li>
        </ul>
      </main>
    </section>
    
    <section>
      <header>
        <h3>Experiences</h3>
      </header>
      <main>
        Animal Office has handled the registration for the Noordshow and the Sierduivenshow Noord-Nederland, two of the largest small animal shows in the Netherlands. Both organizations were very content with the way Animal Office works.
      </main>
    </section>
    
    <section class="card-warning">
      <header>
        <h3>Demo</h3>
      </header>
      <main>
        <p>We are happy to offer organizations the chance to get to know Animal Office and for that purpose we have set up a comprehensive demo. Click on the button below to see how signing up with Animal Office works and also how the maintenance and editing of entries by the organization takes place.
        </p>
        <p>
          <app-link route="demo"><button class="btn-default special special-secondary" i18n>Demo</button></app-link>
        </p>
        <p>The entry form on this demo is an example. We offer this tailor-made for every show.
        </p>
      </main>
    </section>
  
    <section>
      <header>
        <h3>Who is behind Animal Office?</h3>
      </header>
      <main>
        <p>Animal Office is a cooperation between father and son Wierd and Roland de Boer. It has come into being by combining the experiences of Wierd as exhibition organizer with those of Roland with software and database development.
        </p>
        <p>We have enjoyed it a lot to develop this application and are looking forward to cooperate with as many small-animal exhibitions as possible.
        </p>
      </main>
    </section>
  
    <section>
      <header>
        <h3>Contact</h3>
      </header>
      <main>
        For questions you can email us through our <app-link route="contact">contact form</app-link>, or call Wierd de Boer (outside of office hours) at +31(0)6-43365045.
      </main>
    </section>
  
    <div class="photos-container">
      <figure>
        <img height="200" width="159" src="/assets/images/misc/roland.jpg">
      </figure>
      <figure>
        <img height="200" width="159" src="/assets/images/misc/wierd.jpg">
      </figure>
    </div>
    
  </article>