<header>
  <div class = "backer"></div>
  <div 
    class = "logo-wrapper-wrapper"
    [class.has-show] = "settings.activeShow"
  >
      <app-link 
        class = "logo-wrapper"
        route = "home" 
        placement = "bottom" 
      >
      <!--
        ngbTooltip="Clicking on the logo will always bring you back to the homepage."
        i18n-ngbTooltip
      -->
        <img class="wide-logo" src="/assets/images/layout/logo/logo-medium-new.png" srcset="/assets/images/layout/logo/logo-medium-2x-new.png 2x" alt="Animal Office" height="87px" width="106">
        <!--
        <img class="small-logo" src="/assets/images/layout/logo/logo-small.png" srcset="/assets/images/layout/logo/logo-small-2x.png 2x" alt="Animal Office" height="52px" width="62px">
        -->
      </app-link>

  </div>
  <menu class="ml-auto">
    <li>
      <app-link route="contact" linkClass="text-darker">
          <i class="icon-mail"></i> 
          <span i18n>Contact</span>
        </app-link>
    </li>
    <li>
      <app-link route="about" linkClass="text-darker">
        <i class="icon-info"></i> 
        <span i18n>About Animal Office</span>
      </app-link>
    </li>
    <li>
      <app-link route="demo" linkClass="text-darker">
        <i class="icon-eye"></i>
        <span i18n>Demo</span>
      </app-link>
    </li>
    <li *ngIf="!settings.username">
      <app-link route="login" linkClass="text-darker">
        <i class="icon-login"></i> 
        <span i18n>Sign up / sign in</span>
      </app-link>
    </li>
    <li *ngIf="settings.username">
      <div ngbDropdown placement="bottom-right" class="d-inline-block box-button">
        <button 
          class="btn-outline-copper" 
          id="user-menu" 
          ngbDropdownToggle
        >
          <i class="icon-user"></i>
          <span i18n>Logged in as</span> {{ settings.username}}
        </button>
        <div ngbDropdownMenu aria-labelledby="user-menu">
          <button class="dropdown-item" (click)="routingTools.navigateToRoute('person')">
            <i class="icon-user-card"></i>
            <span i18n>Your personal details</span>
          </button>
          <button class="dropdown-item" (click)="settings.logout()">
            <i class="icon-logout"></i>
            <span i18n>Sign out</span>
          </button>
          <hr>
          <button class="dropdown-item" (click)="routingTools.swapLanguage()">
            <span
              class="flag-small" 
              [class.flag-dutch]="routingTools.languagePrefix==='nl'"
              [class.flag-english]="routingTools.languagePrefix==='en'"
            ></span>
            <span i18n>Change language</span>
          </button>
        </div>
      </div>
    </li>
    <li *ngIf="!settings.username" class="flag-container">
      <app-language-chooser></app-language-chooser>
    </li>

  </menu>


  <div class="hamburger">
    <i 
      class="hamburger-icon icon-menu" 
      (click)="burgerClicked()" 
      (dblclick)="burgerClicked()" 
      placement="left" 
      ngbTooltip="Clicking on this icon will open the navigation menu."
      i18n-ngbTooltip
    ></i>
  </div>
  <br>
  <div class="show-name" *ngIf="settings.activeShow">
    <h3>
      {{ settings.activeShow.name }}
    </h3>
  </div>
    
  <!-- [class.portrait]="settings.activeShow.showOverall.logo.orientation == 'portrait'" -->
  <!-- <div 
    class="show-header" 
    *ngIf="settings.activeShow"
  >
      <img 
        class = "show-logo" 
        [src] = "settings.getUriStart ( settings.activeShow.showOverall.logo.fileLocation )"
      >
      *!-- <h3>{{ show.name }} {{ show.edition }}</h3> --*
  </div> -->
  <div class="extra-buttons">
      
    <!-- <button class="btn-default special special-secondary">Sign up for show</button>
    <button class="btn-default special special-primary">Statistics</button> -->
  </div>
</header>
