@import '../../../styles/variables';
#button-wrapper {
  display:flex;
  justify-content: space-evenly;
  button:not(.dropdown-item) {
    font-weight: 500;
    font-size: 16px;
  }
}
.box-button {
  margin: 0;
  @media (min-width: 500px) {
    margin: 0 5px;
    &:first-child {
      margin-left: 10px;
    }
    &:last-child {
      margin-right: 10px;
    }
  }

}
.dropdown-menu {
  .dropdown-item, .dropdown-header {
    font-size: 16px;
  }
}
h1 {
  font-family: "alegreya";
  font-family: "Merriweather";
  font-size:27px;
  font-weight: 700;
  text-shadow: 1px 1px white;
  color: #4d4d4d;
  color: $gray-800;
  border: none;
  margin: .25rem 0 1rem 0;
  margin: 0 0 10px 0;

  @media (orientation: portrait), (max-height: 500px) {
    display:none;
  }
}
