@import '../../../styles/variables';
@import '../../../styles/login';


:host {
  // min-height: 100vh;
  // background-color: #f5f5f1;
  // color: rgb(77, 77, 77);
}
article {
  width: 500px;
  padding: 20px 0 0 0;
  float: none;
  margin: 0 auto;
}
section {
  margin-top: 15px;
  // margin-right: auto;
  // margin-left: auto;
  // border-top: 2px solid $primary;
  // margin-bottom: 50px;
}

footer {
  margin: 0;
}

@media (max-width: 500px) {
  section {
    width: auto;
  }
  article {
    width: auto;
  }
  h2 {
    font-size:28px;
  }
}