<div class="show-page-container">

  <div 
    class="show-logo" 
    *ngIf="settings.activeShow"
  >
    <img 
      [style.width] = "settings.activeShow.showOverall.logo.getProportionalWidthInPx ( 150 )"
      [src] = "settings.getUriStart ( settings.activeShow.showOverall.logo.fileLocation )"
    >
    <!-- <h3>{{ show.name }} {{ show.edition }}</h3> -->
  </div>
  
  <article *ngIf = "db.has('BreederFederation')">
    <h2>Sign up / sign in</h2>
    <section>
      <app-login-list *ngIf="loginService.doWeShowLoginList()"></app-login-list>
      <app-login-number-input 
        *ngIf="loginService.editingNumber && !loginService.persistingAll"
        [ngClass]="loginService.doWeShowLoginList() ? 'has-list' : ''"
      ></app-login-number-input>
      <app-login-name-checker *ngIf="loginService.potentialPerson"></app-login-name-checker>
    </section>
  </article>

</div>

