<div id="background-wrapper">
    <img 
        class="background background-wide" 
        [src]="'./assets/images/homepage-backgrounds/wide/animaloffice' + this.backgroundNumberWide + '.jpg'"
    >
    <img 
        class="background background-square" 
        [src]="'./assets/images/homepage-backgrounds/square/animaloffice' + this.backgroundNumberSquare + '.jpg'"
    >
    <app-homepage-box id="back" [position]="'back'"></app-homepage-box>
    <app-homepage-box id="front" [position]="'front'"></app-homepage-box>
</div>