
<div class="warning-message" *ngIf="!notMeButNumberCorrect">
  <i class="icon-warning"></i>
  <span i18n>Please check again if you have entered the number and association correctly above.</span>
</div>
<div class="error-message" *ngIf="notMeButNumberCorrect">
  <i class="icon-warning"></i>
  <span i18n>If someone else is using your breeder number, better contact Animal Office.</span>
  &nbsp;
  <app-link 
    route="home" 
    linkClass="text-primary"
    i18n
  >Click here to do so.</app-link>
</div>
<!-- Als iemand anders staat ingeschreven met jouw fokkersnummer kun je het beste even contact opnemen met Animal Office. -->

<footer>
  <button class="btn-default" (click)="loginService.notMeEditAgain()">
    <i class="icon-edit"></i>
    <span i18n>Edit breeder number</span>
  </button>
  <button class="btn-primary" (click)="notMeButNumberCorrect = true">
    <i class="icon-check"></i>
    <span i18n>Number is correct</span>
  </button>
</footer>

