.back {
  position: absolute;
  top: 30px;
  left: 29px;
  &:before {
    font-size: 25px;
  }
}

.logo {
  display: block;
  margin: 30px auto;
}

app-language-chooser {
  position:absolute;
  top: 30px;
  right: 31px;
  .flag-menu, .dropdown-item {
    cursor: pointer;
  }
}

.dropdown-title {
  font-weight:500;
  color:#757f88;
  // font-family: suranna;
  // font-weight:400;
  // font-size: 20px;
}