<article [class.inModal]="inModal">
    <h1 *ngIf="!inModal">Terms and conditions</h1>
    <div class="top"></div>

    <h3>About the English translation</h3>
    <p>
      This English translation of the Terms and Conditions for use of the Animal Office website is offered for ease of use only, and does not hold any legal value. To every action in any language on the Animal Office website the Dutch version of the Terms and Conditions applies.
    </p>
        
    <h3>1. Purpose and legality of the Terms and Conditions</h3>
      <p>
        These Terms and Conditions are applicable to all agreements between Animal Office and its registrants.
      </p>
  
    <h3>2. Terminology</h3>
      <p>
        When in these Terms and Conditions we write 'registrant', what is meant is: a person or legal entity who has entered their personal details on the Animal Office website.
      </p>
  
    <h3>3. Applicability of conditions is ruled out</h3>
      <p>
        The applicability of all conditions for the registrant, among which is participation in an exhibit for which they have registered, is emphatically ruled out.
      </p>
  
    <h3>4. Law</h3>
      <p>
        <strong>4a.</strong> 
        All agreements between Animal Office and the registrant and all offers from Animal Office take place under Dutch law.
      </p>
      <p>
        <strong>4b.</strong> All possible disputes that result from the agreements and offers mentioned in the previous paragraph will be laid before a qualified judge in the region of Leeuwarden, the Neterlands,except if Animal Office wished to lay the dispute before another qualified judge.
      </p>
  
    <h3>5. Correspondence</h3>
      <p>
        <strong>5a.</strong> All correspondence takes place by email.
      </p>
      <p>
        <strong>5b.</strong> The registrant is required to provide a valid email address to Animal Office on which he or she can receive email. Animal Office has to be notified of any changes of email address in the matter prescribed by Animal Office.
      </p>
      <p>
        <strong>5c.</strong> Email which has been sent is regarded as being received by the registrant.
      </p>
  
    <h3>6. Suspension/cancellation of service</h3>
      <p>
        <strong>6a.</strong> Animal Office reserves the right to suspend or cancel its service with respect to the registrant as a response to any violation of the Terms and Conditions.
      </p>
      <p>
        <strong>6b.</strong> No reimbursement or restitution does ever take place for the suspension and/or cancellation of any services due to the violation of one or more rules in these Terms and Conditions.
      </p>
  
    <h3>7. Right to decline services</h3>
      <p>
        Animal Office has the right to decline or cancel services according to its own right judgment.
      </p>
  
    <h3>8. Indemnity</h3>
      <p>
        <strong>8a.</strong> By using the Animal Office website, the registrant indemns itself for all possible legal proceedings, fines and whatever else, that could be the result of registering with Animal Office for a small animal exhibition, and the activities that result from that.
      </p>
      <p>
        <strong>8b.</strong>  Registrant indemns Animal Office of all responsibility for any untimely or incorrect handling and delivery of the registrants entry details.
      </p>
  
    <h3>9. Privacy policy</h3>
      <p>
        On all details that the registrant shares with Animal Office the <app-link route="privacy">privacy policy</app-link> applies.
      </p>
  
    <h3>10. Changes in Terms and Conditions</h3>
      <p>
        Animal Office is te allen tijde gerechtigd de Algemene Voorwaarden en het Privacybeleid te wijzigen zonder daarvan de inschrijver rechtstreeks in kennis te stellen. Publicatie op de website van Animal Office is daarvoor afdoende. Het is aan Animal Office om te bepalen of de wijziging ook rechtstreeks gecommuniceerd wordt aan de inschrijver.
        At any time Animal Office is entitled to change the Terms and Conditions and the Privay Policy without notifying the registrant. Publication on the website of Animal Office is sufficient for that. Whether the change will be communicated directly to the registrant is according to what Animal Office deems right.
      </p>
  
    <h3>11. Disclaimer</h3>
      <p>
        Animal Office is not responsible for any damgages that the registrant could occur. Animal Office does not offer any guarantees for damage the results from using its services. This includes, but is not limited to, loss of details resulting from delays, non-arrivals, wrong deliveries, and any suspension of services caused by Animal Office or its employees.
      </p>
    
    </article>