<article>

    <h1>Algemene voorwaarden</h1>
        
    <h3>1. Doel en rechtsgeldigheid van de Algemene Voorwaarden</h3>
      <p>
        Deze Algemene Voorwaarden zijn van toepassing op alle overeenkomsten tussen Animal Office en haar inschrijvers. 
      </p>
  
    <h3>2. Terminologie</h3>
      <p>
        Als in deze Algemene Voorwaarden wordt gesproken over 'inschrijver', dan wordt bedoeld: een natuurlijk of rechtspersoon die zijn of haar persoonsgegevens heeft ingevuld bij Animal Office.
      </p>
  
    <h3>3. Toepasselijkheid van voorwaarden van inschrijver worden uitgesloten</h3>
      <p>
        De toepasselijkheid van alle voorwaarden van de inschrijver, waaronder deelname aan tentoonstellingen waarvoor deze zich heeft ingeschreven, wordt nadrukkelijk uitgesloten.
      </p>
  
    <h3>4. Recht</h3>
      <p>
        <strong>4a.</strong> Op alle overeenkomsten tussen Animal Office en de inschrijver en alle aanbiedingen van Animal Office aan de inschrijver is Nederlands recht van toepassing.
      </p>
      <p>
        <strong>4b.</strong> Alle mogelijke geschillen die voortvloeien uit de in het voorgaande lid genoemde overeenkomsten en aanbiedingen zullen worden voorgelegd aan een bevoegde rechter in de regio Leeuwarden, tenzij Animal Office ervoor kiest om een geschil voor te leggen aan een andere bevoegde rechter.
      </p>
  
    <h3>5. Correspondentie</h3>
      <p>
        <strong>5a.</strong> Alle correspondentie gaat via email.
      </p>
      <p>
        <strong>5b.</strong> De inschrijver is verplicht om een emailadres aan Animal Office op te geven waarop hij mail kan ontvangen; wijzigingen moeten meteen aan Animal Office worden doorgegeven op de manier die Animal Office voorschrijft.
      </p>
      <p>
        <strong>5c.</strong> Mail die verstuurd is naar het emailadres van de inschrijver wordt geacht aangekomen te zijn.
      </p>
  
    <h3>6. Opschorting/stopzetting dienstverlening</h3>
      <p>
        <strong>6a.</strong> Animal Office behoudt zich het recht voor om de dienstverlening ten aanzien van de inschrijver op te schorten of stop te zetten bij overtreding van de Algemene Voorwaarden.
      </p>
      <p>
        <strong>6b.</strong> Voor opschorting en/of stopzetting van enige dienstverlening vanwege overtreding van één of meer regels in deze Algemene Voorwaarden, vindt nooit enige vergoeding of restitutie plaats.
      </p>
  
    <h3>7. Recht om diensten te weigeren</h3>
      <p>
        Animal Office heeft het recht om naar eigen inzicht diensten te weigeren of te annuleren.
      </p>
  
    <h3>8. Vrijwaring</h3>
      <p>
        <strong>8a.</strong> Door gebruik te maken van de Animal Office website vrijwaart inschrijver Animal Office van alle mogelijke rechtsvervolgingen, boetes en wat dies meer zij, die het gevolg zouden kunnen zijn van het inschrijven bij Animal Office of voor een kleindiertentoonstelling, en de activiteiten die daaruit voortvloeien.
      </p>
      <p>
        <strong>8b.</strong> Inschrijver vrijwaart Animal Office van alle aansprakelijkheid voor het niet op tijd en/of onjuist verwerken en afleveren van diens inschrijfgegevens.
      </p>
  
    <h3>9. Privacybeleid</h3>
      <p>
        Op alle gegevens die inschrijver deelt met Animal Office is het <app-link route="privacy">privacybeleid</app-link> van toepassing.
      </p>
  
    <h3>10. Wijziging Algemene Voorwaarden</h3>
      <p>
        Animal Office is te allen tijde gerechtigd de Algemene Voorwaarden en het Privacybeleid te wijzigen zonder daarvan de inschrijver rechtstreeks in kennis te stellen. Publicatie op de website van Animal Office is daarvoor afdoende. Het is aan Animal Office om te bepalen of de wijziging ook rechtstreeks gecommuniceerd wordt aan de inschrijver.
      </p>
  
    <h3>11. Disclaimer</h3>
      <p>
        Animal Office is niet verantwoordelijk voor enige schade die de inschrijver kan lijden. Animal Office geeft geen garanties voor schade die voortkomt uit het gebruik van haar diensten. Dit omvat, maar is niet beperkt tot, verlies van gegevens dat voortkomt uit vertragingen, niet aankomen, of verkeerde aflevering, en alle onderbrekingen van diensten veroorzaakt door Animal Office en haar personeel.
      </p>
    
    </article>