<article>
  <h1>Privacybeleid</h1>

  <section>
    <header>
      <h3>
        Privacybeleid voor bezoekers en geregistreerden
      </h3>
    </header>
    <main>
      <p>
        Animal Office verzamelt gegevens van u. En daarom is het belangrijk dat u kunt vertrouwen dat die gegevens veilig zijn, en ook dat u weet in hoeverre Animal Office die veiligheid kan waarborgen.
      </p><p>
        Animal Office is toegewijd om zich te houden aan de Wet Bescherming Persoonsgegevens en de Algemene Verordening Gegevensbescherming (AVG).
      </p><p>
        Animal Office is een site van Wierd de Boer en Roland de Boer. De contactgegevens zijn te vinden op de website.
      </p><p>
        Animal Office bewaart uw gegevens op een server in Nederland. Met het oog op veiligheid en betrouwbaarheid wordt deze server nauwlettend in de gaten gehouden.
      </p><p>
        Animal Office maakt gebruik van cookies om instellingen van u te kunnen herinneren, zoals bijvoorbeeld of u bent ingelogd. U kunt cookies in uw browser uitschakelen, en u kunt dan nog steeds de site gebruiken.
      </p><p>
        Animal Office behoudt zich het recht voor om dit Privacybeleid te allen tijde te wijzigen. Dit zal altijd bekend gemaakt worden op de Privacybeleid pagina, en de link daarheen kunt u vinden onderaan de site.
      </p>
    </main>
  </section>

  <section>
    <header>
      <h3>
        Aanvullend Privacybeleid voor geregistreerden
      </h3>
    </header>
    <main>
      <p>
        Wanneer u zich registreert verzamelt Animal Office de volgende gegevens van u: Naam, Adres, Postcode, Woonplaats, Email adres, Telefoonnummer, IBAN nummer, Fokkersnummers en Geboortedatum. Deze gegevens zijn nodig om u te kunnen inschrijven voor kleindiertentoonstellingen.
      </p><p>
        We maken deze gegevens beschikbaar voor iedere kleindiertentoonstellingsorganisatie in Nederland die bij de KLN of de NBS geregistreerd staat.
      </p><p>
        Animal Office kan geen verantwoordelijkheid of aansprakelijkheid aanvaarden over de wijze waarop de tentoonstellingsorganisaties met uw gegevens omgaan.
      </p><p>
        U kunt altijd de gegevens die Animal Office van u heeft nakijken en wijzigen door, als u bent ingelogd, te klikken op het pijltje naast uw naam, bovenaan de site, en dan te klikken op “profiel wijzigen”.
      </p><p>
        Animal Office kan u een bevestigingsemail sturen als u handelingen uitvoert op de site, zoals het inschrijven voor een kleindierenshow.
      </p>
    </main>
  </section>

</article>
