<article>
    <h1>Privacy policy</h1>
  
    <section>
      <header>
        <h3>About the English translation</h3>
      </header>
      <main>
        <p>
          This English translation of the Animal Office Privacy Policy is offered for ease of use only, and does not hold any legal value. To every action in any language on the Animal Office website the Dutch version of the Privacy Policy applies.
        </p>
      </main>
    </section>

    <section>
      <header>
        <h3>
          Privay policy for visitors and registrants
        </h3>
      </header>
      <main>
        <p>
          Animal Office collects data of yours. And because of this it is important that you can trust that these data are safe, and also that you know in how far Animal Office can guarantee this safety.
        </p><p>
          Animal Office is dedicated to confirm to the Law Protections of Personal Data and the Dutch "Algemene Verordening Gegevensbescherming" (AVG).
        </p><p>
          Animal Office is a site of Wierd de Boer and Roland de Boer. The contact details can be found on the website.
        </p><p>
          Animal Office stores your data on servers located in Germany. We are keeping a very close eye on these server for the purpose of safety and security
        </p><p>
          Animal Office uses cookies to remember your settings, like for example whether you are logged in. You can disable cookies in your browser, and then you can still browse the website, but not log in.
        </p><p>
          Animal Office reserves the right to change this Privacy Policy at any time. This will always be announced on the Privcy Policy page, and the link to this page can be found at the bottom of the site.
        </p>
      </main>
    </section>
  
    <section>
      <header>
        <h3>
          Additional Privacy Policy for registrants
        </h3>
      </header>
      <main>
        <p>When you register, Animal Office collects the following data of you: Name, Address, Post code, City, Email address, Phone number, IBAN number, Breeder number and Date of birth. These details are required to be able to register for small animal exhibitions.
        </p><p>We offer this data to every small animal exhbition in the Netherlands that is registered with the KLN or the NBS.
        </p><p>Animal Office cannot accepts any responsibility or liability concerning the way in which the exhibition organisers handle your data.
        </p><p>
          You can always review and edit the data that Animal Office has of you by, when you are logged in, clicking on the arrow next to your name, at the top of the site, and then to click on “edit profile”.
        </p><p>
          Animal Office can send you a confirmation email after you have completed actions on the site, such as registering for small animal exhibitions.
        </p>
      </main>
    </section>
  
  </article>
  